/*================================================
					  General
================================================*/

/* CSS design inspired by https://weirdgloop.org/2021-year-in-review/ */

@import url("reset.css");

:root { /* variables */

	/* units */
	--parallax_speed: 10;
	--breakout_margin: 7em;
	--article_shade_height: 6vh;
	--card_corner_radius: 12px;
	--timeline_pip_size: 1rem;
	--timeline_indent_size: 3rem;
	
	/* surface colours */
	--surface: #faf4e6;
	--background: #f2e5cd;
	--shadow: rgba(0, 0, 0, 0.049);
	--accent: #ae7b63;
	--divider: rgba(103, 103, 103, 0.328);
	--diff_neutral: #ffffffe0;
	--diff_neutral_outline: #2f2f2f33;
	--diff_up: #d9ffd9ad;
	--diff_up_outline: #7fc6a5;
	--diff_down: #f9d1cfad;
	--diff_down_outline: #db6767;

	/* text colours */
	--text_primary: black;
	--text_heading: black;
	--text_low_emphasis: #5b5b5b;
}

/*================================================
					   Typeface
================================================*/

/* wiki logo font */
@font-face {
	font-family: 'wikiType';
	src: url('assets/fonts/Goudy_Medieval_Alternate.ttf') format('embedded-opentype'), /* Internet Explorer */
		 url('assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff2'),             /* Super Modern Browsers */
		 url('assets/fonts/Goudy_Medieval_Alternate.ttf') format('woff'),              /* Pretty Modern Browsers */
		 url('assets/fonts/Goudy_Medieval_Alternate.ttf') format('truetype'),          /* Safari, Android, iOS */
		 url('assets/fonts/Goudy_Medieval_Alternate.ttf') format('svg');               /* Legacy iOS */
	font-display: swap;
}
.wikiTitle{
	font-family: 'wikiType', Arial, sans-serif;
}

/*================================================
					  Header
================================================*/

/* header */
header {
	height: calc(100vh + var(--article_shade_height));
	width: 100dvw;
	display: flex;
	position: relative;
	color: #fafafa;
	text-shadow: 0px 0px 25px black !important;
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	--text_heading: white;
}
body {
	width: 100dvw;
	height: 100dvh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 1px;
	-webkit-perspective: 1px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

/* header image */
header:after {
	background-image: url(assets/images/patreon-banner-2020.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	content: "";
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
}

/* header title */
header #title{
	position: relative;
	place-self: center;
	place-content: center;
	justify-self: center;
	justify-content: center;
	margin: auto;
	font-size: clamp(4rem, 10vw, 6.5rem); 
	text-align: center;
	line-height: 1.1;
}

/* header shade */
main.content::before {
	display: block;
	content: "";
	height: var(--article_shade_height);
	position: absolute;
	width: 100%;
	z-index: 10;
	top: calc(-1 *(var(--article_shade_height)));
	background: linear-gradient(#00000000, var(--background));
}

/* scroll hint */
#scroll-hint {
	position: fixed;
	bottom: 13%;
	width: 100%;
	animation: jump 8s;
	animation-iteration-count: infinite;
	cursor: pointer;
}
#scroll-hint p {
	width: fit-content;
	margin: auto;
	text-align: center;
	color:white !important;
	font-size: large;
	font-weight: 500;
}
@keyframes jump {
	0%   { transform: translateY(0px);  }
	89%  { transform: translateY(0px);  }
	90%  { transform: translateY(10px); }
	92%  { transform: translateY(0px);  }
	94%  { transform: translateY(10px); }
	96%  { transform: translateY(0px);  }
	98%  { transform: translateY(10px); }
	100% { transform: translateY(0px);  }
}

/*================================================
					   Content
================================================*/

/* body */
body {
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
	background-color: var(--background);
}
main {
	background-image: url(assets/images/img_background.webp);
}

/* text */
p {
	color: var(--text_primary);
	font-size: 1.1rem;
	margin-bottom: 1rem;
}
a {
	color: var(--accent);
	font-weight: bold;
}
h1, h2 {
	color: var(--text_heading);
}
a:hover {
	opacity: 0.8;
}

/* article */
.content {
	z-index: 99;
	position: relative;
}
article {
	max-width: 700px;
  	padding: 7rem 2em;
  	margin: auto;
}

/* sections */
section > h1 {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
section:first-child {
	border-top: none;
	margin-top: 1rem;
	padding-top: 1rem;
}

/* divider */
section {
	border-top: solid 1.5px var(--divider);
	margin-top: 4rem;
	padding-top: 4rem;
}
hr {
	border: solid 1.5px var(--divider);
	margin-top: rem;
	margin-bottom: 1.5rem;
	width: 75%;
}

/*================================================
				  	Statboxes
================================================*/

/* statbox grid */
.statbox-container {
	display: flex;
	position: relative;
	width: calc(100% + (var(--breakout_margin)) * 2);
	flex-wrap: wrap;
	margin: 2rem calc(-1 * var(--breakout_margin));
	gap: 2dvh;
	align-items: center;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
  	height: fit-content;
}

.statbox {
	display: flex;
	box-shadow: 0px 0px 5px 5px var(--shadow);
	background-color: var(--surface);
	width: fit-content;
	border-radius: var(--card_corner_radius);
	padding: 12px;
	flex-grow: 1;
	flex-direction: column;
    justify-content: space-around;
	min-width: 200px;
	max-width: 300px;
	transition: all 150ms ease-in-out;
	flex-basis: 0;
	p { margin: 4px; }

	span {
		color: var(--text_heading);
	}
	
}

/* statbox title */
.statbox .title {
	display: flex;
    flex-direction: row;
	align-items: center;
	direction: rtl;
	width: fit-content;
	text-align: center;
	margin-bottom: 4px;
}
.statbox .title span {
	margin: 4px;
}
.statbox .title h1 {
	margin-left: 4px;
	font-size: larger;
}
.statbox .data {
	font-size: 2.5rem;
  	font-weight: bold;
	color: var(--accent);
	flex-grow: inherit;
	display: flex;
  flex-direction: column;
  justify-items: end;
  justify-content: space-evenly;
}

.statbox .data .additional {
	font-size: medium !important;
	font-weight: normal !important;
	color: var(--text_low_emphasis);
	margin-top: unset !important;
}

.statbox .data .main:has(+ p) {
	margin-bottom: 0px;
}

.statbox .data .main {
	font-size: 2.5rem;
	color: var(--accent);
}

.diff {
	display: flex;
	gap: 8px;
}

.statbox .diff span {
	padding: 4px;
    padding-left: 8px;
	padding-right: 8px;
	width: fit-content;
	display: block;
	margin-top: 8px;
	border-radius: var(--card_corner_radius);
	font-size: small;
	font-weight: normal;
	color: black;
	background: var(--diff_neutral);
	border: 1.5px solid var(--diff_neutral_outline);
	box-sizing: border-box;
}

.statbox .diff span.up {
	background: var(--diff_up);
	border: 1.5px solid var(--diff_up_outline);
}

.statbox .diff span.down {
	background: var(--diff_down);
	border: 1.5px solid var(--diff_down_outline);
}

.statbox .diff span.up::before{
	content: "▲ ";
	color: var(--diff_up_outline);
}

.statbox .diff span.down::before{
	content: "▼ ";
	color: var(--diff_down_outline);
}

/* if container has highlighted element, shrink the rest */
.statbox-container:has(> .highlight) > :not(.highlight) { 
	transform: scale(0.85);
}

.statbox-container:has(> .highlight) > .highlight {
	box-shadow: 0px 0px 5px 5px var(--accent);
}

.mobile {
	display: none;
}

@media only screen and (max-width: 900px) {
	* {
		--breakout_margin: 3em;
	}
}

@media only screen and (max-width: 800px) {

	.statbox {
		scale: 0.90;
	}
}

@media only screen and (max-width: 715px) {
	.statbox-container {
		width: 100% !important;
		margin: 0;
		padding: 0;
		margin-bottom: 2rem;
	}

	.statbox {
		width:  fit-content !important;
		max-width: unset !important;
	}

	.statbox-container >  :not(.highlight) {
		scale: 1 !important;
	}
	.statbox-container > .highlight {
		scale: 0.99;
	}
	.statbox-container {
		scale: 0.95;
	}

	article {
		padding: 7rem 1em;
	}

	.timeline-container .event .content {
		flex-direction: column !important;
	}

}

/* progress lists */
.progress-list > * {
    padding-left: 8px;
	padding-right: 8px;
	width: 100%;
	display: block;
	margin-top: 4px;
	border-radius: var(--card_corner_radius);
	font-size: small;
	font-weight: normal;
	color: black;
	background: linear-gradient(to right, var(--accent) var(--progress), var(--diff_neutral) 0);
	border: 1.5px solid var(--diff_neutral_outline);
	border-left: 1.5px solid #946b58;
	border-right: 1.5px solid #d4d4d3;
	box-sizing: border-box;
	filter: brightness(1.1);

	.data {
		color: var(--text_primary);
		font-size: 0.9rem;
		width: fit-content;
		float: right;
	}

	.name {
		font-size: 0.9rem;
		font-weight: normal;
	}

}

/*================================================
				  	Timeline
================================================*/

.timeline-container {
	.event { /* event item */
		position: relative;
		margin-left: calc(var(--timeline_indent_size) / 2);
		padding-left: calc(var(--timeline_indent_size) / 2);
		padding-top: 1rem;
		padding-bottom: 2rem;
		border-left: solid 2px var(--divider);
		border-image: linear-gradient(to bottom, var(--divider) 1%, var(--divider) 15%);
		border-image-slice: 1 !important;

		/* event title */
		.title:not(span) {
			position: relative;
			padding-bottom: 1rem;
		}

		/* event date text */
		.date {
			color: var(--text_low_emphasis);
		}

		/* event content */
		.content {
			display: flex;
			gap: 2rem;
		}
		.content .text {
			flex: 1;
		}

		/* event image gallery */
		.gallery {
			z-index: 1;
			height: fit-content;
			align-items: center;
			display: flex;
			padding-bottom: 2rem;
			justify-content: space-evenly;
			gap: 12px;
			position: relative;
			img {
				object-fit: cover;
				max-block-size: 270px;
				border-radius: var(--card_corner_radius);
				box-shadow: 0px 0px 5px 5px var(--shadow);
				max-width: 270px;
			}
		}
		
	}

	.highlight.event { /* highlighted event */
		/* highlighted event pip */
		.title:not(span)::before {
			width: calc(var(--timeline_pip_size) * 1.5);
			height: calc(var(--timeline_pip_size) * 1.5);
			left: -2.3rem;
			top: 42%;
			clip-path: polygon(50% 0, 100% 50%, 50% 100%, 50% 80%, 80% 50%, 50% 20%, 20% 50%, 50% 80%, 50% 65%, 35% 50%, 50% 35%, 65% 50%, 50% 65%, 50% 100%, 0 50%);
		}
	}

	/* timeline pip */
	.event .title:not(span)::before {
		content: "";
		background-color: var(--accent);
		width: var(--timeline_pip_size);
		height: var(--timeline_pip_size);
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		left: -2.05rem;
		top: 45%;
		clip-path: polygon(50% 0, 0 50%, 50% 100%, 50% 60%, 40% 50%, 50% 40%, 60% 50%, 50% 60%, 50% 100%, 100% 50%);
	}

	/* timeline line */
	.event:first-child {
		border-image: linear-gradient(to bottom, transparent 1%, var(--divider) 15%);
	}
	.event:last-child {
		border-image: linear-gradient(to top, transparent 1%, var(--divider) 15%);
	}
	.event.spacer {
		height: 70dvh;
	}

}

/*================================================
				  Starfield Segment
================================================*/

/* starfield segment padding */
.starfield {
	--article_shade_height: 20dvh;
	--text_primary: #d0d0d0;
	--text_heading: #e1e1e1;
	--background: #0C161E;
	--background_dark: #090E18;
	--shadow: rgba(0, 0, 0, 0.049);
	--accent: #4C99B9 !important;
	--divider: rgba(103, 103, 103, 0.328);
	--text_low_emphasis: #a4a4a4 !important;
	--divider: rgba(255, 255, 255, 0.2);
	--surface: #131f28;

	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
	border-image: linear-gradient(to bottom, rgba(103, 103, 103, 0.328) 0%, var(--divider) 5%, var(--divider) 98%, rgba(103, 103, 103, 0.328) 90%) !important;
}
.starfield::after {
	width: 120dvw;
	background: url(//images.starfieldwiki.net/backgrounds/lines_transparent_075.png) no-repeat,linear-gradient(var(--background),var(--background_dark));
	position: absolute;
	left: -4rem;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center !important;
	background-size: cover;
	height: 100%;
	margin: 0 calc(50% - 50vw);
	z-index: -2;
	top: 0;
	content: "";
}

/* adjaacent events padding */
.event:has(+ .starfield) {
	padding-bottom: 3rem;
}
.starfield + .event { 
	padding-top: 3rem;
}

/* paper cutout */
.paper-tear {
    position: absolute;
	z-index: -1;
	top: 0;
	left: -1rem;
    width: 120dvw;
    margin: 0 calc(50% - 50vw);
    filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
    .tear {
    	overflow: hidden;
		height: 15px;
    	background: #f2e2c3;
		/* tear clip path */
    	clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 98% 80%, 98% 90%, 90% 60%, 86% 98%, 78% 60%, 76% 99%, 69% 94%, 64% 80%, 61% 75%, 57% 50%, 48% 98%, 46% 76%, 39% 50%, 33% 97%, 28% 80%, 27% 98%, 22% 69%, 13% 85%, 8% 67%, 2% 97%, 0% 100%);
    }
}
.paper-tear.flip {
	rotate: 180deg;
	top: unset;
	bottom: 0;
	filter: unset;
}